# Common configuration
model_hub:
  find_model:
    route: /models/files

model_types:
  loras: bizyair/lora
  # folder_name, server_folder_name
  # checkpoints: bizyair/checkpoint
  # vae: bizyair/vae

routing_configs:
  sdxl:
    route: /supernode/bizyair-sdxl-comfy-ksampler-v2
  kolors:
    route: /supernode/kolors-bizyair-sdxl-comfy-ksampler
  flux-dev:
    route: /supernode/flux-dev-bizyair-comfy-ksampler-speedup
  flux-schnell:
    route: /supernode/flux-bizyair-sdxl-comfy-ksampler
  ultimatesdupscale:
    route: /supernode/bizyair-ultimate-sd-upscale-ksampler
  sd3_5_large:
    route: /supernode/bizyair-comfybridge-sd3-5-large
  sd3_5_large_turbo:
    route: /supernode/bizyair-comfybridge-sd3-5-turbo

routing_rules:
  - name: ultimatesdupscale
    pattern: ^sd15/dreamshaper_8.safetensors$
    config: ultimatesdupscale
  - name: sdxl
    pattern: ^sdxl.*
    config: sdxl
  - name: kolors
    pattern: ^kolors.*
    config: kolors
  - name: flux-dev
    pattern: ^flux/flux1-dev.sft$
    config: flux-dev
  - name: flux-schnell
    pattern: ^flux/flux1-schnell.sft$
    config: flux-schnell
  - name: flux-vae
    pattern: ^flux/ae.sft$
    config: flux-schnell
  - name: sd3_5_large
    pattern: ^sd3.5_large.safetensors$
    config: sd3_5_large
  - name: sd3_5_large_turbo
    pattern: ^sd3.5_large_turbo.safetensors$
    config: sd3_5_large_turbo
