service_config:
  service_address: https://api.siliconflow.cn
  route: /supernode/listmodelserver
  service_route: "{{ service_config.service_address }}{{ service_config.route }}"

model_types:
  loras: bizyair/lora
  # folder_name, server_folder_name
  # checkpoints: bizyair/checkpoint
  # vae: bizyair/vae

routing_configs:
  sdxl:
    service_address: https://api.siliconflow.cn
    route: /supernode/test-flux-dev-bizyair-comfy-ksampler
  kolors:
    service_address: https://api.siliconflow.cn
    route: /supernode/kolors-bizyair-sdxl-comfy-ksampler
  flux-dev:
    service_address:  https://api.siliconflow.cn
    route: /supernode/flux-dev-bizyair-comfy-ksampler-speedup
  flux-schnell:
    service_address:  https://api.siliconflow.cn
    route: /supernode/flux-bizyair-sdxl-comfy-ksampler
  ultimatesdupscale:
    service_address: https://api.siliconflow.cn
    route: /supernode/bizyair-ultimate-sd-upscale-ksampler

routing_rules:
  - name: ultimatesdupscale
    pattern: ^sd15/dreamshaper_8.safetensors$
    config: ultimatesdupscale
  - name: sdxl
    pattern: ^sdxl.*
    config: sdxl
  - name: kolors
    pattern: ^kolors.*
    config: kolors
  - name: flux-dev
    pattern: ^flux/flux1-dev.sft$
    config: flux-dev
  - name: flux-schnell
    pattern: ^flux/flux1-schnell.sft$
    config: flux-schnell
  - name: flux-vae
    pattern: ^flux/ae.sft$
    config: flux-schnell
