site_name: BizyAir Nodes
site_url: https://siliconflow.github.io/BizyAir/
site_description: >-
  Run AI nodes anywhere, anytime.
# Repository
repo_name: BizyAir
repo_url: https://github.com/siliconflow/BizyAir/
edit_uri: "blob/master/docs/"

# Copyright
# copyright: Copyright &copy; All Reserved

#website/xxx.html style
use_directory_urls: false

# Configuration
theme:
  name: material
  custom_dir: 'overrides/'
  # logo: assets/bizyair.svg

  # 404 page
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: zh
  features:
    - navigation.tabs
    - navigation.top
    #- instant
  palette:
    scheme: default
    primary: Light Blue
    accent: Light Blue

  font:
    text: Roboto
    code: Roboto Mono
  # icon:
  #   logo: logo
  # favicon: assets/bizyair.svg

# Plugins
plugins:
  - search
# extra:
#   disqus: livere_indeed

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  # - pymdownx.highlight:
  #     linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

extra_javascript:
  - javascripts/config.js
  #- https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
extra_css:
  - css/custom.css


nav:
  - Homepage: index.md
  - Getting Started:
    - Installation: getting-started/installation.md
    - Quick Start: getting-started/quick-start.md
  - AI Assistant: ai-assistants/introduce.md
  - KSampler: ksampler/introduce.md
  - Controlnet:
    - Controlnet Union: controlnet-union/introduce.md
    - Controlnet Preprocessing: controlnet-preprocessor/introduce.md
  - Kolors: kolors/introduce.md
  - Others: others/index.md
  
