name: Deploy Docs to GitHub Pages

on:
  push:
    branches:
      - master
      - add_docs_and_ci

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r docs_requirements.txt
      working-directory: ./docs

    - name: Build and deploy docs
      run: |
        mkdocs build
      working-directory: ./docs

    - name: List current directory contents
      run: |
        ls -la
        ls -la ./site
      working-directory: ./docs

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.UPDATE_GH_PAGES  }}
        publish_dir: ./docs/site
